<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button1:hover {
    background-color: powderblue;
	}
div{
padding:20px;
}
</style>

</head>
<body>
<div class="container" align="center">
<img src="standard-chartered-intership-programme-2016.jpg" alt="Standard Chartered" width="200" height="100" padding="150px">
</div>

<div class="well" align="center">

<nav class="navbar navbar-reverse">
<ul class="nav navbar-nav">
<li><a href="#">Inbox</a></li>
<li><a href="#">Settings</a></li>
<li><a href="#">Logout</a></li>
</ul>
</nav>

<div class="well">
<p>Select the card you want to unlock</p>
<select>
<option>Card1</option>
<option>Card2</option>
<option>Card3</option>
</select>
<div>
<form action="enterotp.html">
<input type="submit" value="unlock" class="button1"> 
<div>
<h3>The card will be automatically locked after transaction is complete</h3>
</div>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</body>
</html>