<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button1:hover {
	background-color: #4CAF50;
	color: white;
}
</style>
</head>
<body>
	<div class="container" align="center">
		<img src="standard-chartered-intership-programme-2016.jpg"
			alt="Standard Chartered" width="200" height="100" padding="150px">
	</div>
	<h2>Welcome User!</h2>

	<div class="well" align="center">
		<nav class="navbar navbar-reverse">
			<ul class="nav navbar-nav">
				<li><a href="#">Inbox</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</nav>
	</div>

	<div class="well">
		<ul>
			<li><a href="#">Home</a></li>
			<br>
			<li><a href="#">Transfers</a></li>
			<br>
			<li><a href="#">Payments</a></li>
			<br>
			<li><a href="#">Investing</a></li>
			<br>
			<li><a href="#">Update Profile Details</a></li>
			<br>
			<li><a href="#">Help & Services</a></li>
			<br>
			<li><a href="#">Credit Card Rewards</a></li>
			<br>
			<li><a href="#">Offers</a></li>
			<br>
			<li><form action="/wattounlock"><input type="submit">Unlock Debit Card</input></form></li>
			<br>
			<li><a href="">Register for locking debit cards</li>
			<br />
			<li><a href="#">FAQ's</a></li>
			<br>
		</ul>
	</div>